@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color:white;
}
 
.btn {
  text-decoration: none;
  background-color: rgb(19, 109, 16);
  color: white;
  border-radius: 4px;
  padding: 0.60rem 1.5rem;
  border: 1px solid rgb(19, 109, 16);
  margin: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  align-items: center;

}